@import url("./reset.css");

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./../assets/fonts/Roboto/Roboto-Bold.ttf');
}

:root {
    --c-dark-60: rgba(0, 0, 0, 0.6);
    --c-dark-80: rgba(0, 0, 0, 0.8);
    --c-dark-100: #000000;
    --c-white-10: #FFFFFF;
    --c-white-20: #F4F4F4;
}

* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
}

html {
    padding: 80px;
}

body {
    background-color: var(--c-white-20);
    font-family: 'Roboto';
    font-weight: 400;
    gap: 80px;
    max-width: 1440px;
    width: 100%;
}

.global-shadow {
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}

.text-preset-300 {
    font-size: 0.875rem;
    line-height: 175%;
}

.text-preset-320 {
    font-size: 0.875rem;
    line-height: 200%;
}

.text-preset-330 {
    font-size: 0.875rem;
    letter-spacing: 14%;
    line-height: 200%;
    text-transform: uppercase;
}

.text-preset-340 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 200%;
}

.text-preset-350 {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 14%;
    line-height: 200%;
    text-transform: uppercase;
}

.text-preset-500 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 175%;
}

.text-preset-550 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 125%;
}

.text-preset-800 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 125%;
}

.project-introduction {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 32px;
    justify-content: center;
    width: 528px;
}

.project-introduction__title {
    color: var(--c-dark-80);
}

.project-introduction__description {
    color: var(--c-dark-60);
}

.project-introduction__page-sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.page-section {
    align-items: center;
    color: var(--c-dark-80);
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.page-section--active {
    color: var(--c-dark-100);
    font-weight: 700;
}

.page-section__divider {
    background-color: var(--c-dark-80);
    height: 1px;
    width: 24px;
}

.page-section--active > .page-section__divider {
    background-color: var(--c-dark-100);
    width: 48px;
}

.syntactic-elements-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.syntactic-element {
    background-color: var(--c-white-10);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px;
}